sudo: false
language: ruby

matrix:
  include:
    - rvm: 2.3
    - rvm: 2.4
    - rvm: 2.5
    - rvm: 2.6
    - rvm: 2.6
      os: osx
    - rvm: ruby-head
  allow_failures:
    - rvm: 2.3

script: rake test
